main {
  padding-top: 50px;
}

#cardButton {
  float: right;
}

#innerCard {
  padding: 10px;
}
.card-body.overflow-auto {
  height: 270px;
}

#errorContainer {
  text-align: center;
}

#errorContainer {
  padding-top: 150px;
}

.errorCode {
  padding-top: 50px;
}

.fa-exclamation-triangle {
  color: red;
}

.col.card_right {
  float: right;
}

.col.card_left {
  float: left;
}

.btn-danger {
  float: right;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body.overflow-auto {
  height: 270px;
}

.fa-user-edit {
  cursor: pointer;
}

.form-group.input-group {
  width: 250px;
}

#banner {
  width: 100%;
}

.fa-ban {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fa-walking {
  position: relative;
  animation-name: walk;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes walk {
  0% {
    left: -200px;
    top: 0px;
    opacity: 100;
  }
  100% {
    left: 200px;
    top: 0px;
    opacity: 0;
  }
}
